<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        li.fav {
            background: red;
        }
    </style>
</head>
<body>
    
    <div id="app">

        <h2>{{ title }}</h2>
        <!-- ATTRIBUTE BIDDING -->
        <a v-bind:href="url">My Website</a>
        <a :href="url">My Website</a>

        <button v-on:click="title++">Increae</button>
        <button @click="changeTitle">My Method</button>

        <div @mouseover="handleEvent">mouse over</div>
        <div @dblclick="handleEvent">mouse click</div>

        <div>
            <ul>
                <li v-for="book in books" :class="{fav:book.isFav}" @click="favChange(book)">
                 <span >   {{ book.title }}</span>
                </li>
            </ul>
        </div>

        <div>
                <ul>
                    <li v-for="book in filteredBooks" :class="{fav:book.isFav}" @click="favChange(book)">
                     <span >   {{ book.title }}</span>
                    </li>
                </ul>
            </div>
    </div>  

<script src="app.js"></script>
</body>
</html>